.profile-container {
	min-height: 85vh;
	text-align: center;
	align-items: center;
	padding-top: 15vh;
}
.profile-title {
	font-size: 2.5rem;
}

.profile-image {
	padding-top: 2rem;
}
.c1 {
	text-align: left;
	font-size: 1.2rem;
}
.c3 {
	text-align: left;
	font-size: 1.2rem;
}
