.App {
  text-align: center;
}

.footer{
  background-color: #0a7bff;
  margin: 30px 0px 0px 0px;
  padding: 20px 0px 20px 0px;
}
.profile{
  margin-top: 5rem;
}
.skills{
 margin-top: 5rem;
}
.profile-details{
  text-align: left;
}
h2, h1{
  color: #0a7bff;
  font-family: "Times New Roman", Times, serif;
}
.name, a{
  color: white;
}
.quote{
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  color: grey;
}

.centered{
  align-items: center;
}
.skills-container{
  background-color: lightblue;
}