.App {
  text-align: center;
}
body{
  background-color: #f2ffff;
}
body, input, button, textarea{
  font-family: 'Poppins', sans-serif;
}
.padding{
  padding-top: 100px;
}
.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}
.header{
  align-items: center;
}
.name{
  font-size: 2rem;
  height: 2rem;
}
.media-body{
  text-align: start;
}
.exp-logo{
  width: 12rem;
}
.exp-title{
  text-align: left;
}
.exp-text{
  text-align: left;
  margin-top: 2rem;
}
.footer{
  background-color: #0a7bff;
  padding: 20px 0px 20px 0px;
}
.profile{
  margin-top: 5rem;
}

.profile-details{
  text-align: left;
}
h2, h1{
  color: #0a7bff;
  font-family: "Archivo", Times, serif;

}
h3{

}
a{
  text-decoration: none !important;
}
a:hover{
  color: lightblue;
}
.name, a{
  color: white;
}
.quote{
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  color: grey;
}
.centered{
  align-items: center;
}
.skills-container, #experience{
  background-color: lightblue;
}
#contact{
  color:  white;
  margin: auto;
}
.black{
  color: black;
}
.card{
  border-radius: 2rem;
}
img{
  border-radius: 1rem;
}
.section{
  padding-top: 100px;
  min-height: 700px;
}
.mt{
  margin-top: 6rem;
}

#icon-linkedin{
  background-color: blue;
  padding: 0.3rem;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.5rem;
}
#icon-mail{
  font-size: 2rem;
}
#icon-github{
  font-size: 2rem;
  color: black;
}