.App {
	text-align: center;
}
body {
	background-color: #f2ffff;
}
.black {
	color: black;
}
.blue {
	color: blue;
}
.center-align-text {
	text-align: center;
}
.left-align {
	text-align: left;
}
p {
	line-height: 1.7rem;
}

h2,
h1 {
	color: #0a7bff;
}
a {
	text-decoration: none !important;
}
a:hover {
	color: lightblue;
}

a {
	color: white;
}
