@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.pb-20 {
	padding-bottom: 2rem;
}
.pb-30 {
	padding-bottom: 3rem;
}

.mr-auto: {
	margin-right: 'auto !important';
}
